@import "./fishes.css";
@import "./quotes.css";
@import './locations.css';

.header {
  display: flex;
} 

.content {
  display: flex;
}

.left--container {
  flex: 2;
}

.right--container {
  background-color:royalblue;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.logo--img {
  height: 8rem;
}

.image--card {
  width: 15rem;
}

.card {
  margin: 1rem;
  padding: 16px;
  background: goldenrod;
  width: 20rem;
}